		<div class="container">
			
			<div class="items-form">

				<div class="items-form-elem" *ngFor = "let item of items; let i = index;">

					<div class="items-form-elem__wrap">
					
						<div class="items-form-elem__img">
							<img src={{item.image}} alt="">
						</div>
					
						<div class="items-form-elem__h">
							<h1>{{item.name}}</h1>
						</div>
						<div class="items-form-elem__desc">
							<p>{{item.description}}</p>
						</div>

						<div class="items-form__btn">
							<button href="/" class="btn-success" (click) = "goToDetailItem(item)">View</button>
							<button class="btn-danger" (click) = "onDeleteItem(i)"> Delete </button>
						</div>

					</div> 

				</div> 

			</div>

		</div>

