body {
	font-family: 'Roboto';
	background-color: #dedede;
}

.container {
	width: 1170px;
	position: relative;
	margin:0 auto;
	@include cf();
}

.btn-success {
	height: 40px;
	width: 120px;
	@include font-style(16px, #fff, 400,40px, center);
	position: relative;
	display: inline-block;
	background-color: green;
	border-radius:4px;
	text-decoration: none;
	margin-right: 2px;
	border:none;
	outline:none;
	cursor:pointer;
}

.btn-danger {
	height: 40px;
	@include font-style(16px, #fff, 400,40px, center);
	position: relative;
	display: inline-block;
	background-color: red;
	margin-left: 2px;
	width: 120px;
	text-decoration: none;
	border-radius:4px;
	border:none;
	outline:none;
	cursor:pointer;
}

.items-form {
	position: relative;
	@include cf();
	padding-top: 150px;
	width: 100%;
	margin:0 -20px;
	width: auto;

	&-elem {
		float:left;
		width: 33.333%;
		position: relative;
		padding: 0 15px;
		border:1px solid #ddd;
		margin-bottom: 30px;

		&__wrap {
			background-color: #eee;
			position: relative;
			padding:20px;
			border-radius:10px;
		}


		&__img {
			width: 100%;
			height: 150px;
			position: relative;

			img {
				width: 100%;
				height:100%;
				border-top-left-radius:10px;
				border-top-right-radius:10px;
			}
		}

		&__h {
			padding-bottom: 10px;
			padding-top: 10px;

			h1 {
				@include font-style(16px, #121212, 400,1.2, center);
			}
		}

		&__desc {
			padding-bottom: 15px;

			p {
				@include font-style(14px, #121212, 400,1.6, justify);
			}
		}
	}

	&__btn {
		text-align: center;
	}
}


.form-cont {
	background-color: #eee;
	padding:25px;
	@include cf();

	form {
		padding-top: 30px;
	}

	&__wrap {
		padding-bottom: 30px;
		border-bottom:1px solid #ccc;
		@include cf();

	}

	&__left {
		float:left;
		width: 50%;
	}

	&__right {
		float:right;
		width: 50%;
	}

	&-txt {
		position: relative;

		&__h h3 {
			@include font-style(16px, #121212, 400,1.2, left);
			padding-bottom: 15px;
		}

		&__desc p {
			@include font-style(14px, #121212, 400,1.6, left);
		}
	}

	&__img {
		height: 200px;;
		width: 300px;
		float:right;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__field {
		position: relative;
		padding-bottom: 15px;

		ul {
			padding-left: 30px;

			li {
				list-style-type:circle;
				color:#000;
				padding-left: 15px;
				padding-bottom: 15px;
			}
		}

		label {
			@include font-style(14px, #121212, 400,1.6, left);
			padding-bottom: 10px;
			display: block;
			position: relative;
		}

		input {
			height: 40px;
			width: 100%;
			border:1px solid #ccc;
			outline:none;
			font-size: 14px;
			position: relative;
			color:#333;
			padding-left: 15px;
			line-height: normal;
			font-weight: 400;
		}
	}
}