/*-------------------------------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
    

    @media screen and (max-width: 1565px) {

    }


    @media screen and (max-width: 1366px) {

    
    
    }

    @media screen and (max-width: 1200px) {

    
    }

    @media screen and (max-width: 992px) {

        
    }


    @media screen and (max-width: 768px){

    }




    @media screen and (max-width: 480px) {

    }


    @media screen and (max-width: 320px) {
    
   
    }
