<div class="container">
	
	<div class="form-cont" >

		<div class="form-cont__wrap" *ngIf = "editMode">
		
			<div class="form-cont__left">
				
				<div class="form-cont-txt__h">
					 <h3>{{item.name}}</h3>
				</div>
		
				<div class="form-cont-txt__desc">
					 <p>{{item.description}}</p>
				</div>
		
			</div>
		
			<div class="form-cont__right">
				
				<div class="form-cont__img">
					<img src={{item.image}} alt="">
				</div>
		
			</div>
		
		</div>

		<form action="" *ngIf = "editFormMode">

			<div class="form-cont__field" *ngFor = "let item of itemData">
				
				<div *ngIf = "item.type == 'string'">

					<label for="">{{item.label}}</label>
					<input type="text" value={{item.value}}>
					
				</div>

				<div *ngIf = "item.type == 'integer'">

					<label for="">{{item.label}}</label>
					<input type='number' value={{item.value}}>
					
				</div>

				<div *ngIf = "item.type == 'double'">

					<label for="">{{item.label}}</label>
					<input type='text' value={{item.value}}
					[textMask]="{mask: maskDouble}">
					
				</div>

				<div *ngIf = "item.type === 'bool'">

					<label for="">{{item.label}}</label>
					<input type='text' value={{item.value}}>
					
				</div>


				<div *ngIf = "item.type == 'text'">

					<label for="">{{item.label}}</label>
					<input type="text" value={{item.value}}>
					
				</div>


				<div *ngIf = "item.type == 'list'">
					
					<label for="">{{item.label}}</label>

					<ul>
						<li *ngFor = "let itm of item.values">

							<input type="text" value={{itm}}>

						</li>
					</ul>
					
				</div>
				
			</div>

		</form>
		
	</div>

</div>